@page
@model EBook.Pages.BookModel
@{
}
<head>
	<title>eBook | @Model.knjiga.naziv</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!-- shop css -->
	<link href="css/shop.css" type="text/css" rel="stylesheet" media="all">
	<!-- flexslider-css -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<!-- logo -->
	<link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
</head>
<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- breadcrumbs -->
		<!--<div class="crumbs text-center">
			<div class="container">
				<div class="row">
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a asp-page="/Index">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a asp-page="/Library">Library</a>
						</li>
						<li class="btn btn3">
							<a asp-page="/Book">Single book</a>
						</li>
					</ul>
				</div>
			</div>
		</div>-->
		<!--//breadcrumbs ends here-->
		<div id = "informacija"></div>
		<!-- Single -->
		<div class="innerf-pages section">
			<div class="container">
				<div class="col-md-4 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider1">
							<ul class="slides">
								<li data-thumb="images/s1.jpg">
									<div class="thumb-image">
										<img src="@Model.knjiga.slika" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-8 single-right-left simpleCart_shelfItem">
					<h3 style="text-transform:none;">@Model.knjiga.naziv
						<span> | @Model.knjiga.zanr</span>
						@if(Model.brojOcena==0){
						<span> | No ratings</span>}
						else{ 
						<span> | @Model.prosecnaOcena </span>}
						@if(Model.Message == "Admin"){
						<span><a asp-page="/EditBook" asp-route-id="@Model.knjiga.knjigaID" asp-route-zanr="@Model.knjiga.zanr"> Edit</a></span>}
					</h3>
					<p>@Model.knjiga.autor</p>
					
					<div class="desc_single">
						<h5>Description</h5>
						<p style="text-transform:none;">@Model.knjiga.opis</p>
					</div>
					<div class="occasional">
						<h5>Specifications</h5>
						<ul class="single_specific">
							<li>
								<span>Language:</span> @Model.knjiga.jezik</li>
							<li>
								<span style="text-transform:none;">Year of release:</span> @Model.knjiga.godina</li>
							<li>
								<span style="text-transform:none;">Number of pages:</span> @Model.knjiga.brstrana</li>
							<li>
								<span>Letter:</span> @Model.knjiga.pismo</li>
						</ul>
					</div>
					
					<div class="clearfix"></div>
					<div class="description">
						
					</div>
					<div class="occasion-cart">
						<div class="chr single-item single_page_b">
							<form asp-page-handler="Rez" method="post">
								<input type="hidden" value="@Model.knjiga.knjigaID" asp-for="@Model.idKnjiga">
								<input type="hidden" value="@Model.knjiga.zanr" asp-for="@Model.zanr">
								@if(Model.Message=="Admin")
								{
									@if(Model.knjiga.kolicina>0){
										<a id="admin-rez" style="height:40px; width:150px; cursor:pointer;" class="chr-cart pchr-cart">Open form</a>}
									else{
										<label>This book is out of stock.</label>}
									<div id="formaZaRez" style="display:none;">
										<label>User's email</label>
										<input type="text" style="width:200px;" asp-for="@Model.emailKorisnika">
										<button type="submit" style="height:40px; width:150px;" class="chr-cart pchr-cart">Reserve</button>
									</div>
								}
								else
								{
									@if(Model.knjiga.kolicina>0){
										<button type="submit" style="height:40px; width:150px;" class="chr-cart pchr-cart">Reserve</button>}
									else{
										<label>This book is out of stock.</label>}
								}
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<div class="recenzije" style="margin-top:30px;margin-left:30px; display:flex; flex-direction:row; justify-content: space-between;">
					<div style="width:550px;"class="komentari">
						<h4 class="rad-txt">
							<span class="abtext">Reviews</span>
						</h4>
						<div style="width:100%; overflow-y:scroll; height:240px;">
							<table style="width:100%;" class="table">
								<thead>
									<th>Rating</th>
									<th>Comment</th>
								</thead>
								<tbody>
									@foreach (var r in @Model.recenzije)
									{
										<tr>
											<td>@r.ocena</td>
											<td>@r.komentar</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<div style="display:flex; flex-direction:column; "  class="ocene">
						<h4 class="rad-txt">
							<span style="float:right;" class="abtxt1">Ratings</span>
						</h4>
						<div>
							<div style="width:100%; margin-top:10px; float:right;" class="col-xs-12 col-md-6">
								<div style="width:100%; float:right;" class="row rating-desc">
									@for(int i=4;i>=0;i--)
									{
										<div class="col-xs-3 col-md-3 text-right">
											<span class="glyphicon glyphicon-star"></span>
											<span>@(i+1) (@Model.brOcenaPosebno[i]) </span>
										</div>
										<div class="col-xs-8 col-md-9">
											<div class="progress">
												@if(i==4){
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="@Model.prosek[i]"></div>}
												else if(i==3){
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="@Model.prosek[i]"></div>}
												else if(i==2){
													<div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="@Model.prosek[i]"></div>}
												else if(i==1){
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="@Model.prosek[i]"></div>}
												else{
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="@Model.prosek[i]"></div>}
											</div>
										</div>
									}
								</div>
							</div>
							<div style="width:100%; margin-left:30px;" class="col-xs-12 col-md-6 text-center">
                        		<div>
                            		<span style="margin-left:10px;" class="glyphicon glyphicon-user"></span>
									<span style="margin-left:10px;">@Model.brojOcena ratings total</span>
                        		</div>
                    		</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<button type="submit" id="dodajRec" style="height:40px; width:150px; margin-left:30px; margin-top:20px;" class="chr-cart pchr-cart">Add review</button>
				<form id="FormaRec" style="display:none; margin-top:20px; margin-left:30px;" asp-page-handler="Rec" method="post" onsubmit="return ValidacijaRec()">
					<div class="kontejner">
						<div class="recTekst">
							<input type="hidden" id="idIn1" value="@Model.knjiga.knjigaID" asp-for="@Model.idKnjiga">
							<input type="hidden" id="idIn1" value="@Model.knjiga.zanr" asp-for="@Model.zanr">
							<input type="hidden" id="idIn1" value="@Model.knjiga.opis" asp-for="@Model.opis">
							<input type="hidden" id="idIn1" value="@Model.knjiga.naziv" asp-for="@Model.naziv">
							<textarea id="tekstKom" placeholder="Enter comment.." maxlength="100" asp-for="@Model.komentar"></textarea>
							<label class="error3" style="visibility:hidden;">Wrong input!</label>
						</div>
						<div class="ratingDugme">
							<select class="selRating" id="selRating" asp-for="@Model.ocena">
								<option value="0">Rating</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<label class="error1" style="visibility:hidden;">Wrong choice!</label>
							<div class="dugmiciRez">
								<button id="otkaziRec" type="button" >Discard</button>
								<button id="potvrdiRec" type="submit" >Submit</button>
							</div>
						</div>
					</div>
        		</form>
			</div>
		</div>
		<!-- /new_arrivals -->
		<div class="section singlep_btm">
			<div class="container">
				<div class="new_arrivals">
					<h4 class="rad-txt">
						<span class="abtxt1">featured</span>
						<span class="abtext"> products</span>
					</h4>

					@foreach (var k in Model.slicneKnjige)
					{
						<div class="col-md-3 product-men">
							<div class="product-chr-info chr">
								<div class="thumbnail">
									<a asp-page="\Book" asp-route-id="@k.knjigaID" asp-route-zanr="@k.zanr">
										<img src="@k.slika" alt="">
									</a>
								</div>
								<div class="caption">
									<h4>@k.zanr</h4>
									<p>@k.naziv</p>
									<div class="matrlf-mid">
										<ul class="rating">
											<li>
												<span>@k.godina</span>
											</li>
										</ul>
										<div class="clearfix"> </div>
									</div>
									<a asp-page="\Book" asp-route-id="@k.knjigaID" asp-route-zanr="@k.zanr">
									<button class="chr-cart pchr-cart" >Details</button></a>
								</div>
							</div>
						</div>
					}
					
					<!-- //row3 -->
					<div class="clearfix"></div>
				</div>
				<!--//new_arrivals-->
				<div class="clearfix"></div>

			</div>
		</div>
		<!--// Single -->


    <!-- Common js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		chr.render();

		chr.cart.on('chr_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- zoom -->
	<script src="js/imagezoom.js"></script>
	<!-- zoom-->
	<!-- single -->
	<!-- FlexSlider -->
	<!--<script src="js/jquery.flexslider.js"></script>-->
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider1').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="js/main.js"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="js/scrolling-nav.js"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->
	<script src="js/bootstrap.js"></script>
	<!-- start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<!--<script src="js/SmoothScroll.min.js"></script>-->
	<!-- //smoothscroll -->
<script src="js/validacijaRec.js"></script> 
<script>
		$(document).ready(function prikazFormi(){
    $("#dodajRec").click(function(){
        $("#FormaRec").css("display","block");
        $("#dodajRec").css("display","none");
        if($(window).width()<=1002)
            $("#dodajRecInfo").css("display","block");
    });
    $("#otkaziRec").click(function(){
        $("#FormaRec").css("display","none");
        $("#dodajRec").css("display","block");
        $("#dodajRecInfo").css("display","none");
    });
	$("#admin-rez").click(function(){
        $("#formaZaRez").css("display","block");
		$("#admin-rez").css("display","none");
    });
    
});
</script>

<script>
	var getParams = function (url) {
	var params = {};
	var parser = document.createElement('a');
	parser.href = url;
	var query = parser.search.substring(1);
	var vars = query.split('&');
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split('=');
		params[pair[0]] = decodeURIComponent(pair[1]);
	}
	return params;
};

function formatDate(date) {
    var year = date.getFullYear().toString();
    var month = (date.getMonth() + 101).toString().substring(1);
    var day = (date.getDate() + 100).toString().substring(1);
    return day + ". " + month + ". " + year + ".";
}

	var el = document.getElementById('informacija');
	var parametri = getParams(window.location.href);
	if(parametri.success=="true")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			var date = new Date(new Date().getTime()+(3*24*60*60*1000));
			$("#informacija").css("background-color","#34c663");
			el.innerHTML="Your book is waiting for You until " + formatDate(date) + " !";
    	}
	}
	if(parametri.success=="false")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#ee4f4f");
			el.innerHTML="You have reached the limit of reservations!";
    	}
	}
	if(parametri.success=="out")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#ee4f4f");
			el.innerHTML="This book is out of stock!";
    	}
	}
	if(parametri.success=="already")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#ee4f4f");
			el.innerHTML="You already left a review about this book!";
    	}
	}
	if(parametri.success=="admin")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#ee4f4f");
			el.innerHTML="Admins do not have permissions for this action!";
    	}
	}
	if(parametri.success=="AdminTrue")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#34c663");
			el.innerHTML="You made the reservation!";
    	}
	}
	if(parametri.success=="AdminFalse")
	{
		window.onload = function() { 
    		$("#informacija").css("display","block");
			$("#informacija").css("background-color","#ee4f4f");
			el.innerHTML="Email address is incorrect. Please register!";
    	}
	}
</script>