@page
@model IndexModel
@{
}

<head>
    <title>eBook | Home</title>
</head>

<!-- banner -->
        <div class="banner-bg-agileits">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="container">
                    <p >Your on-line library</p>
                    <h2 class="title">
                        eBook
                    </h2>
                    <ul class="banner-txt">
                        <li>share.</li>
                        <li> explore. </li>
                        <li>reserve.</li>
                    </ul>
                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- about -->
        <div class="about-sec section" id="about">
            <div class="container">
                <!-- about-left-grid -->
                <div class="col-md-7 about-left-grid">
                    <div class="inner-about2">
                        <h4>Browse by Subject</h4>
                        <h5>the library catalogue</h5>
                        <ul class="about-list">
                            @foreach (var item in Model.kategorije)
                            {
                                <li>
                                    <i class="fa fa-play-circle-o" aria-hidden="true"></i><a id="genre-list" asp-page="/Library" asp-route-zanr="@item">@item</a>
                                </li>
                            }
                        </ul>
                        <a asp-page="/Library">view more</a>
                    </div>
                    <!-- about left bottom - services -->
                    <!--<div class="principles-grids principles-grids1">
                        <div class="abt-btm agileits w3layouts aos-init aos-animate">
                            <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                                <div class="bott-img agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="mission agileits w3layouts">law library</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                                <div class="bott-img bott-img1 agileits w3layouts">
                                    <div class="icon-holder agileits w3layouts">
                                        <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                                    </div>
                                    <h4 class="mission agileits w3layouts">asian materials</h4>
                                    <div class="description agileits w3layouts">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> -->
                    <!-- //about left bottom - services ends here -->
                </div>
                <!-- //about-left-grid ends here-->
                <!-- about-right-grid -->
                <div class="col-md-5 about-right-grid"></div>
                <!-- //about-right-grid ends here -->
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //about ends here -->
        <!-- about bottom -->
        <div class="about-bottom section">
            <div class="container-fluid">
                <h4 class="rad-txt">
                    <span class="abtxt1">wonderful</span>
                    <span class="abtext"> world of reading</span>
                    Top-Rated Books
                </h4>
                <!-- about-bottom grid1 -->
                <div class="col-md-6 about-bottom-right">
                    <!--<h4 class="rad-txt">Top-Rated Books</h4>-->

                        <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">

                        @for(int i=0; i<2; i++)
                        {
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <a asp-page="/Book" asp-route-id="@Model.najpopularnijeKnjige.ElementAt(i).knjigaID" asp-route-zanr="@Model.najpopularnijeKnjige.ElementAt(i).zanr"><h5>@Model.najpopularnijeKnjige.ElementAt(i).naziv</h5></a>
                                <span>Rating: </span><label>@Model.najpopularnijeKnjige.ElementAt(i).ocena</label><span>(</span><label>@Model.najpopularnijeKnjige.ElementAt(i).brojocena</label><span>)</span>
                                <p>@Model.najpopularnijeKnjige.ElementAt(i).opis</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        }
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                        @for(int i=2; i<5; i++)
                        {
                            <div class="ab1">
                                <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                                    <span class="fa fa-book" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                    <a asp-page="/Book" asp-route-id="@Model.najpopularnijeKnjige.ElementAt(i).knjigaID" asp-route-zanr="@Model.najpopularnijeKnjige.ElementAt(i).zanr"><h5>@Model.najpopularnijeKnjige.ElementAt(i).naziv</h5></a>
                                    <span>Rating: </span><label>@Model.najpopularnijeKnjige.ElementAt(i).ocena</label><span>(</span><label>@Model.najpopularnijeKnjige.ElementAt(i).brojocena</label><span>)</span>
                                    <p>@Model.najpopularnijeKnjige.ElementAt(i).opis</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                        </div>

                    
                    <div class="clearfix"></div>
                </div>
                <!-- //about-bottom grid1 ends here -->
                <div class="col-md-6 home-about2">
                <!-- about-bottom grid2 -->
                <div class="col-md-6 col-sm-6 col-xs-6 bg-right"></div>
                <!-- //about-bottom grid2 ends here -->
                <!-- about-bottom grid3 -->
                <div class="col-md-6 col-sm-6 col-xs-6 w3ls-section  stats">
                    <div class="stats-aboutinfo services-main">
                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <h6>books</h6>
                                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='@Model.brojKnjiga' data-delay='.5' data-increment="300">@Model.brojKnjiga</div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-university" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <h6>recensions</h6>
                                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='@Model.brojRecenzija' data-delay='.5' data-increment="50">@Model.brojRecenzija</div>

                            </div>
                            <div class="clearfix"></div>


                        </div>
                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <h6>reservations</h6>
                                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='@Model.brojRezervacija' data-delay='.5' data-increment="50">@Model.brojRezervacija</div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-users" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <h6>users</h6>
                                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='@Model.brojKorisnika' data-delay='.5' data-increment="300">@Model.brojKorisnika</div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
               </div>
                <!-- //about-bottom grid3 ends here -->
                <!-- //Numscroller -->
                <div class="clearfix"></div>
            </div>
            <!-- //about container ends here-->
        </div>
        <!--//about bottom ends here-->
        <!-- team -->
        <div id="team" class="team section">
            <div class="team-container">
                <div class="team-row">
                    <!-- team grid1 -->
                    <div class="col-md-5 team-grid-left">
                        <!-- team individual grid -->
                        <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                            <div class="team-effect">
                                <img src="images/t3.jpg" alt="img" class="img-responsive">
                                <div class="social-icon">
                                    <a href="#" class="social-button twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-button facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" class="social-button google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h4>@Model.bibliotekar1.ime @Model.bibliotekar1.prezime</h4>
                                <span>@Model.bibliotekar1.email</span>
                                <p>Bibliotekar</p>
                            </div>
                        </div>
                        <!-- //team individual grid -->
                        <!-- team individual grid -->
                        <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                            <div class="team-text">
                                <h4>@Model.bibliotekar2.ime @Model.bibliotekar2.prezime</h4>
                                <span>@Model.bibliotekar2.email</span>
                                <p>Analitičar/informatičar</p>
                            </div>
                            <div class="team-effect">
                                <img src="images/t1.jpg" alt="img" class="img-responsive">
                                <div class="social-icon">
                                    <a href="#" class="social-button twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-button facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" class="social-button google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- //team individual grid -->
                        </div>
                    </div>
                    <!-- //team-grid1 ends here-->
                    <!--team-grid2 -->
                    <div class="col-md-2 col-sm-2 team-mid-txt text-center">
                        <span>our</span>
                        <h5>t</h5>
                        <h5>e</h5>
                        <h5>a</h5>
                        <h5>m</h5>
                    </div>
                    <!--//team-grid2 ends here-->

                    <!-- team grid3 -->
                    <!-- team individual grid -->
                    <div class="col-md-5 team-grid-right">
                        <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                            <div class="team-text">
                                <h4>Smith Kevin</h4>
                                <span>-</span>
                                <p>-</p>
                            </div>
                            <div class="team-effect">
                                <img src="images/t2.jpg" alt="img" class="img-responsive">
                                <div class="social-icon">
                                    <a href="#" class="social-button twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-button facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" class="social-button google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- //team individual grid -->
                        <!-- team individual grid -->
                        <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                            <div class="team-effect">
                                <img src="images/t4.jpg" alt="img" class="img-responsive">
                                <div class="social-icon">
                                    <a href="#" class="social-button twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="social-button facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" class="social-button google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h4>Laura Hill</h4>
                                <span>-</span>
                                <p>-</p>
                            </div>
                        </div>
                        <!-- //team individual grid -->
                        <div class="clearfix"> </div>
                    </div>
                    <!-- //team grid3 -->
                    
                    <div class="clearfix"> </div>
                </div>
                <!-- //team-row ends here -->
            </div>
            <!-- // team container ends here -->
        </div>
        <!-- //team -->
        
        
