@page
@model MyApp.Namespace.LibraryModel
@{
}
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<title>eBook | Library</title>

</head>

		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- breadcrumbs 
		<div class="crumbs text-center">
			<div class="container">
				<div class="row">
					<ul class="btn-group btn-breadcrumb bc-list">
						<li class="btn btn1">
							<a href="index.html">
								<i class="glyphicon glyphicon-home"></i>
							</a>
						</li>
						<li class="btn btn2">
							<a href="shop.html">product catalogue</a>
						</li>
					</ul>
				</div>
			</div>
		</div>-->
		<!--//breadcrumbs ends here-->
		<!-- Shop -->
		<div class="innerf-pages section">
			<div class="container-cart">
				<!-- product left -->
				<div class="side-bar col-md-3">
					<!--preference -->
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							Categories</h3>
						<ul id="categories">
							@if (Model.zanrFilter!=null){
							<li><a href="/Library">All</a></li>}
							else
							{
								<li><a style="pointer-events: none; cursor: default;color:black;" href="/Library">All</a></li>
							}
							@foreach (var zanr in Model.zanrovi)							
							{	@if (Model.zanrFilter==null||zanr.CompareTo(Model.zanrFilter)!=0)
								{
									<li>
										<a href="/Library?zanr=@zanr">@zanr</a>
									</li>
								}
								else
								{
									<li>
										<a style="pointer-events: none; cursor: default;color:black;"href="/Library?zanr=@zanr">@zanr</a>
									</li>
								}
								

								
							}
							
							

						</ul>
					</div>
					<!--  
					<div class="search-hotel">
						<h3 class="shopf-sear-headits-sear-head">
							<span>author</span> in focus</h3>
						<form action="#" method="post">
							<input type="search" placeholder="search here" name="search" required="">
							<input type="submit" value="Search">
						</form>
					</div>
					-->
					<!-- price range 
					<div class="range">
						<h3 class="shopf-sear-headits-sear-head">
							<span>Price</span> range</h3>
						<ul class="dropdown-menu6">
							<li>

								<div id="slider-range"></div>
								<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
							</li>
						</ul>
					</div>
					-->
					<!-- //price range -->
					<!--preference 
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">
							<span>latest</span> arrivals</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 30 days</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 90 days</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">last 150 days</span>
							</li>

						</ul>
					</div>
					-->
					<!-- // preference -->
					<!-- discounts 
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Language</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">English</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Spanish</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Japanese</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">German</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Korean</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Chinese</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">French</span>
							</li>
						</ul>
					</div>-->
					<!-- //discounts -->
					<!-- Binding 
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Format</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Hardcover</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Board Book</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Bundle</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Paperback</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">Audio Book</span>
							</li>
						</ul>
					</div>-->
					<!-- //Binding -->
					<!-- discounts 
					<div class="left-side">
						<h3 class="shopf-sear-headits-sear-head">Discount</h3>
						<ul>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">5% - 20%</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">20% - 40%</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">40% - 60%</span>
							</li>
							<li>
								<input type="checkbox" class="checked">
								<span class="span">60% or more</span>
							</li>
						</ul>
					</div>-->
					<!-- //discounts -->
					<!-- reviews 
					<div class="customer-rev left-side">
						<h3 class="shopf-sear-headits-sear-head">Customer Review</h3>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<span>5.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>4.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.5</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>3.0</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span>2.5</span>
								</a>
							</li>
						</ul>
					</div>-->
					


				</div>
				<!-- //product left -->
				<!-- product right -->
				<div class="left-ads-display col-md-9">
					<div class="wrapper_top_shop">
						<!-- product-sec1 -->
						<div class="product-sec1">
							<!-- row1-->
							
							
							@foreach (var knjiga in Model.sveKnjige)
							{  
								
								<div class="book" style="display: flex;justify-content:space-between; width:100%;flex-direction:row; border:1px solid lime; margin-bottom:15px;border-radius: 5px;">
									<div style="display: flex;flex-direction:row;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="Book?id=@knjiga.knjigaID&zanr=@knjiga.zanr"><img style="max-width:150px;  max-height:200px;  width: auto;  height: auto;"src=@knjiga.slika  ></a>
										<div class="basic-data"style="display: flex;flex-direction:column; margin-left:10px;margin-top:3%; border-left:2px solid black;height:70%;padding-left:5px" >
											<span><a asp-page="Book" asp-route-id=@knjiga.knjigaID asp-route-zanr=@knjiga.zanr>@knjiga.naziv - @knjiga.autor</a></span>
											<br>
											<span>@knjiga.brstrana str. - @knjiga.godina. god.</span>
											<br>
											<span>@knjiga.zanr - @knjiga.jezik @if (@knjiga.pismo.CompareTo("Ostalo")!=0)
											{
												<label style="font-weight: normal;"> - @knjiga.pismo</label>
											} </span>
										</div>
										
								
									</div>
									@if (knjiga.kolicina>0)
									{
										<div style="margin-right:10px;margin-top:30px;"><span class="material-icons">done_outline</span></div>
									}
									else
									{
										<div style="margin-right:10px;margin-top:30px;"><span class="material-icons">close</span></div>

									}

								</div>
							
							
							}
							
							
							<!-- //row3 -->
							<div class="clearfix"></div>

						</div>
		<button style="margin-left:45%"id="load_more">Load more</button> <br> <br><br> <br>
						<!-- //product-sec1 -->
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<!--// Shop -->
		<script>
				document.querySelector("#load_more").onclick=()=>
				{
					let categoryFilter;
					document.querySelectorAll("#categories a" ).forEach((x)=>{
						if(x.style.color=="black")
						categoryFilter=x;

						});
				
				
					$.ajax({
      						 method: "GET",
							   data: {selektovaniZanr:categoryFilter.innerHTML},
      						 url: '?handler=LoadMore', 
							   beforeSend: function (xhr) {
           						 xhr.setRequestHeader("XSRF-TOKEN",
              					  $('input:hidden[name="__RequestVerificationToken"]').val());},
      						 contentType: "application/json; charset=utf-8",
     				 		 dataType: "json"
  							 }).done(function (data) {
      								if(data=="nemaVise")
									  document.querySelector("#load_more").style.display="none";
									  else
									  {
										  	data.forEach((knjiga)=>
											  {
												  	let pismo=(knjiga["pismo"]=="Ostalo")?"":`- ${knjiga["pismo"]}`;
													
													
												  	let node=`<div class=\"book\" style=\"display: flex;justify-content:space-between; width:100%;flex-direction:row; border:1px solid lime; margin-bottom:15px;border-radius: 5px;\">
														<div style=\"display: flex;flex-direction:row;\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
													<a href=\"Book?id=${knjiga["knjigaID"]}\"><img src=${knjiga["slika"]} width=\"159px" height=\"150px\" >
													<div class=\"basic-data\"style=\"display: flex;flex-direction:column; margin-left:10px;margin-top:3%; border-left:2px solid black;height:70%;padding-left:5px\" >
														<span><a href=\"Book?id=${knjiga["knjigaID"]}\" >${knjiga["naziv"]} - ${knjiga["autor"]}</a></span>
														<br>
														<span>${knjiga["brstrana"]} str. - ${knjiga["godina"]}. god.</span>
														<br>
														<span>${knjiga["zanr"]} - ${knjiga["jezik"]} ${pismo}   </span>
														</div>
														</div>`;
														if(knjiga["kolicina"]>0)
														node+=	`<div style=\"margin-right:10px;margin-top:30px;\"><span class=\"material-icons\">done_outline</span></div>`;
														else
														node+=`<div style=margin-right:10px;margin-top:30px;\"><span class=\"material-icons\">close</span></div>`;





														document.querySelector(".product-sec1").innerHTML+=node;
														



											  })
											  console.log(data);
									  }

									  





									  });
				}
		</script>